.movie-list {
  margin: 20px 0;
}

.movie-container {
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: repeat(auto-fit, 250px);
  gap: 15px;
}

.loading,
.error {
  display: flex;
  justify-content: center;
  padding-top: 40px;
  font-size: 25px;
}
