@import '../../main.scss';

.header {
  background-color: $color-tertiary;
  height: 72px;
  padding: 0 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: $font-primary;
  font-size: 30px;
  font-weight: 600;
}

.log-in {
  width: 70px;
  height: 40px;
  font-size: 16px;
  background-color: $font-primary;
  border: none;
  border-radius: 3px;
  outline: none;
  cursor: pointer;
  transition: all 0.3s;

  &:hover {
    background-color: darken($font-primary, $amount: 10);
  }
}

.search-bar {
  width: 50%;
  display: flex;
  justify-content: center;

  form {
    width: 100%;
    display: flex;
    justify-content: center;

    button {
      height: 38px;
      padding: 0 8px;
      font-size: 20px;
      border: none;
      outline: none;
      border-top-right-radius: 3px;
      border-bottom-right-radius: 3px;
      cursor: pointer;
    }
  }

  input {
    font-size: 18px;
    width: 100%;
    padding: 5px 10px;
    height: 38px;
    border: none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
    outline: none;
  }
}
