@import './main.scss';

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Inter', sans-serif;
}

a {
  text-decoration: none;
  color: $font-primary;
}

body {
  background-color: $color-primary;
  color: $font-primary;
}
